/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 356px) {
    .form-section {
        padding: 10px 10px;
        margin: 0px 30px;
    }

    .form-submit-btn {
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .form-section {
        padding: 10px 10px;
        margin: 0px 30px;
    }

    .form-submit-btn {
        border-radius: 30px;
        font-weight: bold;
        font-size: 16px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .form-section {
        background: #FAF8F8;
        padding: 81px 89px;
        margin: 0px 123px;
    }

    .form-submit-btn {
        margin-bottom: 50px;
        background: linear-gradient(180deg, #373F41 99.99%, #EC31F0 100%);
        box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
        border-radius: 56px;
        font-weight: bolder;
        font-size: 20px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}