.body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

/*-------- top header & footer bottom--------*/
.top-header,
.footer-bottom {
    background-color: #373F41;
    color: #fff;
}

.top-header {
    /* transition: all 0.2s ease; */
    /* position: fixed; */
    /* z-index: 99; */
}

/*------ header nav styling ---------*/
header#all-header {
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

#site-header {
    /* width: 100%; */
    background: #f4f4f4;
    padding: 15px 0px;
    transition: all 0.2s ease;
    /* position: fixed;
    z-index: 99; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#site-header a {
    color: #666666;
    padding: 15px 35px;
}

#site-header a:hover {
    color: #0097ad !important;
    transition: all 0.2s ease;
}

#site-header button:active {
    position: relative;
    top: 1px;
}

#site-header div#site-header-auth-container button {
    outline: 0;
    background: transparent;
    height: 30px;
    padding: 0 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #666666;
}

#site-header div#site-header-container {
    display: flex;
    align-items: center;
    height: 40px;
}

#site-header div#site-header-logo {
    width: auto;
    padding: 0;
    margin-right: 30px;
    height: 50px;
}

#site-header div#site-header-logo img {
    height: 50px;
}

#site-header ul#main-menu {
    padding: 0;
}

#site-header ul#main-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 11pt;
}

#site-header ul#main-menu li:last-of-type {
    margin-right: 0;
}

#site-header ul#main-menu li a {
    text-decoration: none;
}

#site-header div#site-header-auth-container {
    justify-content: flex-end;
    text-align: right;
    flex-shrink: 0;
}

#site-header div#site-header-auth-container .site-header-auth-button:hover {
    border-color: #0097ad;
    color: #0097ad;
    transition: all 0.3s ease;
}

#site-header div#site-header-auth-container .site-header-auth-button i:after {
    content: "";
    margin-right: 0.32em;
}

/*----- header nav mobile menu styling ----*/

#side-menu-container {
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
}

#side-menu-container #before-side-menu,
#side-menu-container #after-side-menu {
    display: none;
}

input[type=checkbox]#toggleSideMenu {
    box-sizing: border-box;
    display: none;
}

@media screen and (max-width: 1200px) {

    /*----- styling the container for the menu ------*/
    #side-menu-container {
        position: fixed;
        left: -250px;
        top: 0;
        margin-top: 60px;
        padding: 15px;
        width: 250px;
        height: 100%;
        background: #f7f7f7;
        box-shadow: inset -1px 0 5px #eeeeee;
    }

    #site-header ul#main-menu li {
        display: block;
        width: 100%;
        padding: 15px 20px;
        font-size: 13pt;
        border-bottom: 1px solid #dddddd;
    }

    input[type="checkbox"]#toggleSideMenu:checked~#side-menu-container {
        transform: translateX(250px);
    }

    /*---- hamburger icon styling -----*/
    .hamburger-icon {
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        top: 82px;
        left: 22px;
        height: 22px;
        width: 22px;
    }

    .hamburger-menu-line {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #666;
    }

    .horizontal {
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    .diagonal-1,
    .diagonal-2 {
        position: relative;
        box-sizing: border-box;
        float: left;
        margin-top: 4px;
    }

    input[type=checkbox]#toggleSideMenu:checked~.hamburger-icon>.horizontal {

        box-sizing: border-box;
        opacity: 0;
    }

    input[type=checkbox]#toggleSideMenu:checked~.hamburger-icon>.diagonal-1 {

        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    input[type=checkbox]#toggleSideMenu:checked~.hamburger-icon>.diagonal-2 {
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

}

@media screen and (max-width: 768px) {
    #site-header div#site-header-auth-container .site-header-auth-button span {
        display: none;
    }

    #site-header div#site-header-auth-container .site-header-auth-button i::after {
        margin-right: 0;
    }

}


/*------------ navigation section ------------*/
.navigation-section {
    width: 70%;
    padding: 15px 0px;
}

/* ----------- banner section -------------- */
.header-banner,
.individual-top-banner {
    margin-top: 80px;
}

.banner-image {
    height: 800px;
}

.banner-title {
    padding-bottom: 400px;
    color: rgba(0, 0, 0, 0.775);
}

/*---- Gallery section, Donate & Team section images slider -----*/
.section-header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.box {
    width: 465px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin: 0px 25px;
}

.donate-box {
    width: 642px;
}

.slide-img {
    height: 350px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(101, 184, 202, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.social-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.social-icons {
    background-color: rgb(242, 106, 56);
    background-color: black;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    padding: 12px;
    border-radius: 5px;
}

.social-icons:hover {
    background-color: rgb(242, 106, 56);
    color: black;
}

.social-btn:hover {
    transition: all ease 0.3s;
}

.overlay {
    visibility: hidden;
}

.slide-img:hover .overlay {
    visibility: visible
}

.slider {
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* ---- category banner ---- */
.category-banner {
    background-image: url("/images/header-banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    color: white;
}


/*----------- search bar ---------  */
.search-bar {
    margin: 120px 0px;
    /* border: 2px solid red; */
}

.search {
    /* border: 2px solid blue; */
    background: #949496;
    border-radius: 16px;
    position: relative;
    /* box-shadow: 0 0 40px rgba(51, 51, 51, .1) */
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 0;
    border-radius: 12px;
    background-color: #F2F4F8;
}

.search .fa-search {
    margin-right: 15px;
    position: absolute;
    top: 25px;
    left: 20px
}

.search button {
    border-radius: 12px;
    border: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 100px;
    background: #373F41;
}

.search button:hover {
    background: #373F41;
}

/*----------- card -----------*/
.individual-card-section {
    margin-bottom: 60px;
}

.individual-card {
    margin: 30px;
}

.card-info {
    padding: 20px;
    background: #F2F4F8;
}

.card-info p {
    font-size: 16px;
    color: #999FAA;
}

.card-info button {
    color: #F2F4F8;
    background: #373F41;
    border-radius: 5px;
    padding: 5px 16px;
}

/*------- pagination --------*/
.pagination-previous-btn,
.pagination-next-btn,
.pagination-counter {
    border: 3px solid #d7d9de;
    border-radius: 8px;
    color: black;
    font-weight: bold;
}

.pagination-previous-btn:hover,
.pagination-next-btn:hover,
.pagination-counter:hover {
    color: white;
    background: #373F41;
    opacity: 0.5;
}



/*----------- footer ---------- */


.footer-section,
.footer-info {
    background: #F2F4F8;
}

.footer-info img {
    width: 70px;
}

.socialIcons {
    display: flex;
    justify-content: left;
}

.social-icon {
    background-color: black;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
}

.social-icon:hover {
    background-color: rgb(242, 106, 56);
    color: black;
}

.footer-horizental-line {
    width: 35px;
    height: 3px;
    background-color: coral;
    margin-left: 1px;
    margin-bottom: 15px;
}